*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primario : blue;
    --secundario : red;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #0e0e0e;
    color: white;
}

/* Estilos de navbar coputer and movile con efectos y animaciones de entrada*/
/* Primero dando estilos a computer */

header ~ nav{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:space-between;
}

.active{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.logo::first-letter{
color: blueviolet;
}

.menu{
    list-style: none;
    display: flex;
}

.menu li a{
    color: white;
    text-decoration: none;
    margin-right:20px ;

}

.menu-select{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
}

.menu li a:hover {
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    transition: all .5s;
}

.btn{
    border: none;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: fixed;
    right: 50px;
    cursor: pointer;
}

.cambio-color .btn{
    background-color: black;
    color: white;

}
.container-nav-seccion{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

/* animacion de la imagen del navbar */

.img-navbar{
    background-image: url(./Imagenes/undraw_programming_re_kg9v.svg);
    background-position:  center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
    animation: an1 4s ease infinite;
}

@keyframes an1 {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    
}

.text-nav-seccion{
    font-size: 25px;
}

/* Animacion y estilo de texto Web developer   */

.span_1{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 1px solid;
    width: 14ch;
    font-size:20px ;  

    animation: typing 2s steps(14), 
    blink .5s infinite step-end alternate;
    overflow: hidden;
    color: blueviolet;
  }

  @keyframes typing  {
    from{ width: 0;}
  
}

  @keyframes blink {
    50%{border-color: transparent;}
}

.cambio-color{
    background-color: white;
    color:black;
}

.cambio-color .menu li a {
    color: black;
}

.cambio-color .menu li a:hover{
    color:white;
}

.cambio-color #select{
    color:white;
}

/* Version mobile */

@media screen and (max-width: 850px) {
    .active{
        display: block;
        position: fixed;
        left: 90%;
    }
    
    .menu{
        display: flex;
        flex-direction: column;
        line-height: 50px;
        position: fixed;
        top: 60px;
        background-color: white;
        width: 60%;
        right: 0;
        height: 100vh;
        align-items: center;
        text-align: center;
        z-index: 1;
        transition: all 1s;
        justify-content: center;
    }

    .menu li a{
        color: black;
    }

    .menu li a:hover{
        color: white;
    }

    .menu-active{
        left: 100%;
    }

    .cambio-color .menu{
        background-color: black;
    }

     #select{
        color:white;
    }

    .cambio-color .menu li a{
        color: white;
    }

    .container-nav-seccion{
        display: flex;
        flex-direction: column;
        align-items:center ;
        text-align: center;
    }
    .text-nav-seccion{
        font-size: 20px;
    }
    .img-navbar{
        margin-top: 30px;
        width: 200px;
        height: 200px;
    }

    .btn{
        right: 30px;
    }
    
    .about-seccion{
        display: flex;
        width: 80%;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .card-container-contact{
        display: flex;
        flex-direction: column;
    } 
    .card{
        margin: 0;
    }
    .card_1{
        margin: 0;
    }

    .card_2{
        margin: 0;
        margin-top: 20px;
    }

    .card_3{
        margin-top: 20px;
        margin-left: -25px;
    }

    .portafolio-container{
        display: flex;
        flex-direction: column;
    }

    .img-portafolio-1{}
    .img-portafolio-2{
        position: static;
    }
    .img-portafolio-3{
        position: static;
    }
}


/*Comenzando nuevamente version movile  */
/* Dando estilos a la seccion de about */

.divicion{
    height: 50vh;
}

.about-seccion{
    width: 80%;
    height: 100vh;
    margin: auto;
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
}

.text-about{
    font-size: 20px;
}

.span_2{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 1px solid;
    width: 18ch;
    font-size:20px ;  

    animation: typing 2s steps(18), 
    blink .5s infinite step-end alternate;
    overflow: hidden;
    color: blueviolet;
  }

.img-about{
    height: 200px;
    width: 200px;
    background-image: url(./Imagenes/undraw_stand_out_-1-oag.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: abimg 4s ease infinite;

}

/* Dando estilos al contacto de la pagina web */

.divicion-1{
    height: 10vh;
}

.contact{
    height:100vh ;
    width: 80%;
    margin: auto;
}

.card-container-contact{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.card{
    width: 150px;
    height: 150px;
    background-color: tomato;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 0 10px 1px white;
    transition: all .5s;
}

.cambio-color .card:hover{
    box-shadow: 0 0 10px 1px blueviolet;

}


.card_1{
    background-color: blue;
    margin-right: 30px;
}

.card_2{
    background-color: black;
    margin-right: 30px;

}

.card_3{
    background: linear-gradient(to left,var(--primario), var(--secundario));
}


.cambio-color .card{
    color: white;
}

.portafolio{
    width: 100%;
    height: 100vh;
}

.portafolio-container{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portafolio-container a{
    margin-right: 30px;
}

.img-portafolio-1{
    background: url(./Imagenes/Imagen-3.png) center no-repeat;
    background-size: cover;
    height: 100px;
    width: 200px;
    position: absolute;
    left: 100px;
    animation: ptanimate 4s ease infinite;
}

.img-portafolio-2{
    background: url(./Imagenes/Imagen-2.png) center no-repeat;
    background-size: cover;
    height: 100px;
    width: 200px;
    position: absolute;
    animation: ptanimate 4s ease infinite;
}

.img-portafolio-3{
    background: url(./Imagenes/Imagen-1.png) center no-repeat;
    background-size: cover;
    height: 100px;
    width: 200px;
    position: absolute;
    right: 100px;
    animation: ptanimate 4s ease infinite;
}

@keyframes ptanimate {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
}


.title{
    text-align: center;
}

.cambio-color .title{
    color: black;
}